<div id="content-delete-list-wrapper" class="container mt-5 mb-5">
  <div class="row justify-content-md-center">
    <div id="content-delete-list" class="col-6">
      <div class="currencies-list">
        <div class="heading-title border-bottom-small-black-expand">
          <h3 class="fs-14 fwa-700 text-uppercase">Delete a currency</h3>
        </div>

        <ul class="list-unstyled list-spacer fs-0 fwd-500">
          {% for currency in currencies %}
            <li class="fs-12">
              <a href="#" class="mr-2" data-toggle="modal" data-target="#deleteModal-{{ currency.id }}"><i class="fas fa-times"></i>
              </a><span class="cursor-pointer text-decoration-underline-hover">{{ currency.getFullName }} | {{ currency.ratio }}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Delete modal -->
{% for currency in currencies %}
  <div class="modal fade" id="deleteModal-{{ currency.id }}" tabindex="-1" aria-labelledby="deleteModalLabel-{{ currency.id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel-{{ currency.id }}">Delete <span class="font-italic">{{ currency.getFullName }}</span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete the currency <span class="font-weight-bold">{{ currency.getFullName }}</span>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a href="{{ path('app_delete_delete', {'id': currency.id}) }}" class="btn clbg-red clbgh-red clf-whitest-lightest-1 clfh-whitest-lightest-1">Delete</a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
